# Usage:
#
# $ sudo systemctl link ./mzek_auditd_injestor@.service # add to systemd
# $ sudo systemctl enable mzek_auditd_injestor@${USER} # set to run as this user, on boot
# $ sudo systemctl start mzek_auditd_injestor@${USER} # start now, as this user

[Unit]
Description=mzek-daemon
After=network.target

[Service]
User=%I
ExecStart=/usr/bin/env bash -c '. /home/monz/Desktop/mzek/modules/_auditd/injest.sh'
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
